{% comment %} <h2>Book {{services.name}}</h2>

<from method="post">
    {% csrf_token %}
    <input type="date" name="date">
    <button type="submit">Confirm</button>
</form> {% endcomment %}


{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">

<div class="col-md-6">

<div class="card shadow-lg p-4">

<h2 class="text-center mb-4 text-success">

Book {{ service.name }}

</h2>

<form method="post">

{% csrf_token %}

<label>Select Date</label>

<input type="date"
name="date"
class="form-control mb-3">

<button class="btn btn-success w-100">

Confirm Booking

</button>

</form>

</div>

</div>

</div>

{% endblock %}